@import "src/style/buttons";
@import "cssProper";
@import "navBar";
@import "tDrawer";

* {
  margin: 0;
  padding: 0;
}

@media screen and(max-width: 699px) and (min-width: 320px) {
  .nav-bar {
    padding: 0;
  }
  .nav-bar {
    display: none;
  }
  .nav-bar-mobile-main {
    display: block;
  }
  .nav-bar-menus {
    display: none;
  }
}

@media screen and(max-width: 1399px) and (min-width: 700px) {
  .nav-bar-menus {
    padding: 0 200px;
  }
}

.home {
  //min-width: 100vw;
  //width: 100vw;
}



